body {                                          /* This should cover almost everything*/
    background-color: lightyellow;
}
h1 {
    font: 'Jersey 10 Charted';
    font-size: 0.9em;
    text-align: center;
    /*position: sticky;*/
    color: rgb(255, 215, 0);
}
audio {
    color: color(from lightblue display-p3 .4 .3 .3); /*Problem */
}
b {
    color: #a30000;
}
p {
    font: Verdana;
    font-size: 1.4rem;
    text-decoration: wavy;
    /*position: static;*/
}
/*img {
    display: inline-block;
    max-width: fit-content;
    max-height: fit-content;
}
source {
    display: block;
    height: 200px;
    width: 350px;
}
a:hover {
    font: bold;
}
details {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}*/
details:active {
    color: dodgerblue;
}/*
@property --box-color {
    syntax: "<color>";
    initial-value: rgb(255, 219, 154);
    inherits: false;
}
.box {
    margin-top: -40pt;
    margin-right: 30pt;
    margin-bottom: 40pt;
    margin-left: 4pt;         
    margin: 40px,20px,20px;  
    padding-top: 10px;      
    padding: 5px;       
    border-color:#a30000;
    border: 1pc;
    border-style: dashed;
    border-width: 10pt;
    border-radius: 100px;
    --box-color: reds;
    background-color: var(--box-color);
} */
footer {
    /*line-height: 2em;*/
    color: hsl(080,90,050);
}
button {
    color: color-mix(in lch, plum, pink 40%);
}